body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main a {
	margin-right: 1em;
	display: inline-block;
	width: 15em;
	height: 15em;
}

.main .box {
  background-color: #DDEDEF;
}

.main .box1 {
  background-color: #D2E7EA;
}

.main .box2 {
  background-color: #C2DFE3;
}

.main .box3 {
  background-color: #B1CBCF;
}

.main .box4 {
  background-color: #A1B9BD;
}

.main a img {
  height: 10em;
  margin: 20px;
}

.main a span {
  float: left;
  margin: 1em 0 0 -1em;
}

.penta {
  animation: penta-spin infinite 30s linear;
}

.penta1 {
  animation: penta-spin infinite 20s linear;
}

.penta2 {
  animation: penta-spin infinite 15s linear;
}

.penta3 {
  animation: penta-spin infinite 10s linear;
}

.penta4 {
  animation: penta-spin infinite 5s linear;
}

@keyframes penta-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

